body{
    margin: 0;
    font-family: "Kanit", sans-serif;
    background-color: #202020;
}
header{
    position: absolute;
    height:100px;
    background-color: #202020;
    border-bottom: 2px solid #cc0000;
    width: 100%;
}
footer{
    position: absolute;
    background-color: #202020;
}
img{
    display: inline;
}
p{
    display: inline;
}
button{
    display: inline;
}
.JL_car_audio::before{
    content:JL car Audio;
}
.JL_car_audio:hover::before{
    content:Jum Lee car Audio;
}
div{
    display: inline;
}